<div class="col-start-6 col-end-12 p-3 rounded-lg animate-fadeIn">
  <div class="flex items-center justify-start flex-row-reverse">
    <div class="flex items-center justify-center h-10 w-10 rounded-full bg-gradient-to-br from-blue-500 to-blue-700 flex-shrink-0 shadow-lg shadow-blue-500/20">
      <i class="fa-regular fa-user text-white"></i>
    </div>

    <div class="relative mr-3 text-sm bg-gradient-to-r from-blue-600/90 to-blue-700/90 text-white py-3 px-4 shadow-lg shadow-blue-700/20 rounded-2xl max-w-[85%]">
      <div class="whitespace-pre-wrap">{{ text }}</div>
      <div class="absolute -bottom-2 -right-1 text-[10px] text-slate-300 font-light">
        {{ getCurrentTime() }}
      </div>
    </div>
  </div>
</div>